
@import "mixins.css";

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
}

hr {
    max-width: 50px;
    border-color: #fff;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #3694d1;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    
    &:hover, &:focus {
	    color: #175daf;
    }
    
    i {
	    color: #fff;
	    &:hover {
		   color: #3694d1; 
	    }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

p {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 1.5;
}

.bg-primary {
    background-color: #3694d1;
}

.bg-dark {
    color: #fff;
    background-color: #222;
}

.text-faded {
    color: rgba(255,255,255,.7);
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.bc-sprite {
	background-image: url('../images/bc_sprite.png');
    background-image: url('../images/bc_sprite.svg');
}

.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: #222;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    opacity: 0;
	
	.navbar-brand {
	    text-transform: uppercase;
	    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
	    color: #fff;
	    font-weight: 700;
	    position: relative;
	}
	
	.navbar-header .navbar-brand:hover,
	.navbar-header .navbar-brand:focus {
	    color: #fff;
	}
	
	.nav > li>a,
	.nav>li>a:focus {
	    text-transform: uppercase;
	    font-size: 13px;
	    font-weight: 700;
	    color: #fff;
	}
	
	.nav > li>a:hover,
	.nav>li>a:focus:hover {
	    color: #fff;
	}
	
	.nav > li.active>a,
	.nav>li.active>a:focus {
	    color: #fff!important;
	    background-color: transparent;
	}
	
	.nav > li.active>a:hover,
	.nav>li.active>a:focus:hover {
	    background-color: transparent;
	}

	@media(min-width:768px) {
	    border-color: 0;
	    background-color: transparent;
	
	    .navbar-header .navbar-brand {
	        color: rgba(255,255,255,0);
	    }
	
	    .navbar-header .navbar-brand:hover,
	    .navbar-header .navbar-brand:focus {
	        color: rgba(255,255,255,1);
	    }
	
	    .nav > li>a,
	    .nav>li>a:focus {
	        color: rgba(255,255,255,.7);
	    }
	
	    .nav > li>a:hover,
	    .nav>li>a:focus:hover {
	        color: rgba(255,255,255,1);
	    }
	
	    &.affix {
	        border-color: 0;
	        background-color: #222;
	    }
	
	    &.affix .navbar-header .navbar-brand {
	        font-size: 14px;
	        color: rgba(255,255,255,1);
	    }
	
	    &.affix .navbar-header .navbar-brand:hover,
	    &.affix .navbar-header .navbar-brand:focus {
	        color: #fff;
	    }
	
	    &.affix .nav > li>a,
	    &.affix .nav>li>a:focus {
	        color: #fff;
	    }
	
	    &.affix .nav > li>a:hover,
	    &.affix .nav>li>a:focus:hover {
	        color: #fff;
	    }
	    
	    &.affix .nav > li>a:after,
	    &.affix .navbar-header .navbar-brand:after {
		    content:"";
	        position: absolute;
	        width: 100%;
	        height: 0px;
	        bottom: 0;
	        left: 0;
	        background-color: #fff;
	        -webkit-transition: all .35s;
		    -moz-transition: all .35s;
		    transition: all .35s;
	    }
	    
	    &.affix .nav > li.active>a:after,
	    &.affix .nav > li>a:hover:after,
	    &.affix .nav > li>a:focus:after,
	    &.affix .navbar-header .navbar-brand:hover:after,
	    &.affix .navbar-header .navbar-brand:focus:after {
	        height: 4px;
	    }
	}
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-color: #000;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

	.header-content {
	    position: relative;
	    width: 100%;
	    padding: 100px 15px;
	    text-align: center;
	    
	    .header-content-inner {
		    
	    	h1 {
			    margin-top: 0;
			    margin-bottom: 0;
			    text-transform: uppercase;
			    font-weight: 700;
			}
			
			hr {
			    margin: 30px auto;
			}
			
			p {
			    font-size: 16px;
			    font-weight: 300;
			    color: rgba(255,255,255,.7);
			    
			    img {
				    width: 100%;
				    max-width: 500px;
			    }
			}
		}
	}
	
	@media(min-width:768px) {
	    min-height: 100%;
	        
        .header-content {
	        position: absolute;
	        top: 50%;
	        padding: 0 50px;
	        -webkit-transform: translateY(-50%);
	        -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
        
        	.header-content-inner {
		        margin-right: auto;
		        margin-left: auto;
		        max-width: 1000px;
		        
		        p {
			        margin-right: auto;
			        margin-left: auto;
			        max-width: 80%;
			        font-size: 18px;
    			}
    		}
    	}
	}
	
	.scroll-button {
	    width: 20px;
	    height: 30px;
	    position: absolute;
	    bottom: 10%;
	    left: 49%;
	    margin-bottom: 12px;
	    -webkit-transition: all 0.5s ease-out;
	    -moz-transition: all 0.5s ease-out;
	    -o-transition: all 0.5s ease-out;
	    transition: all 0.5s ease-out;
	    
	    span {
		    width: 12px;
		    height: 30px;
		    background-position: -29px -282px;
		    display: block;
	    }
	    
	    &:hover, &:focus, &:hover:focus {
		    color: transparent;
	    }
	}
}

#about {
	.btn-xl {
		margin: 0 10px;
	}
}

.section-heading {
    margin-top: 0;
}

.service-box {
    margin: 50px auto 0;
    max-width: 400px;

	@media(min-width:992px) {
	     margin: 20px auto 0;
	}
	
	p {
	    margin-bottom: 0;
	}
	
	a {
		display: block;
		margin-top: 15px;
		color: #fff;
	}
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
    
    .portfolio-box-caption {
	    display: block;
	    position: absolute;
	    bottom: 0;
	    width: 100%;
	    height: 100%;
	    text-align: center;
	    color: #fff;
	    opacity: 0;
	    background: rgba(54,148,209,.9);
	    -webkit-transition: all .35s;
	    -moz-transition: all .35s;
	    transition: all .35s;
	    
	    .portfolio-box-caption-content {
		    position: absolute;
		    top: 50%;
		    width: 100%;
		    text-align: center;
		    transform: translateY(-50%);
		    
		    .project-category,
		    .project-name {
			    padding: 0 15px;
			    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
			}
			
			.project-category {
			    text-transform: uppercase;
			    font-size: 14px;
			    font-weight: 600;
			    
			    @media(min-width:768px) {
				    font-size: 16px;
				}
			}
			
			.project-name {
			    font-size: 18px;
			    
			    @media(min-width:768px) {
				    font-size: 22px;
				}
			}
		}
	}

	&:hover .portfolio-box-caption {
	    opacity: 1;
	}
}

.portfolio-modal {
	
	.modal-content {
	    padding: 100px 0;
	    min-height: 100%;
	    border: 0;
	    border-radius: 0;
	    text-align: center;
	    background-clip: border-box;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	    
	    h2 {
		    margin-bottom: 15px;
		    font-size: 3em;
		}
		
		p {
		    margin-bottom: 30px;
		    
		    &.item-intro {
			    margin: 20px 0 30px;
			    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
			    font-size: 16px;
			    font-style: italic;
			}
		}
		
		ul.list-inline {
		    margin-top: 0;
		    margin-bottom: 30px;
		    
		    li {
			    display: block;
		    }
		}
		
		img {
		    margin-bottom: 30px;
		}
		
		.cycle-slideshow {
			.cycle-prev, .cycle-next {
				background-image: url('../fancybox/fancybox_sprite.png');
				position: absolute;
				top: 50%;
				width: 36px;
				height: 34px;
				margin-top: -18px;
				cursor: pointer;
				z-index: 8040;
				visibility: hidden;
			}
			
			.cycle-prev {
				background-position: 0 -36px;
			}
			
			.cycle-next {
				background-position: 0 -72px;
				right: 0;
			}
			
			&:hover {
				.cycle-prev, .cycle-next {
					visibility: visible;	
				}
				
			}
		}
	}
	
	.close-modal {
	    position: absolute;
	    top: 25px;
	    right: 25px;
	    width: 75px;
	    height: 75px;
	    background-color: transparent;
	    cursor: pointer;
	    
	    @media(min-width:768px) {
			position: fixed;    
		}
	    
	    &:hover {
		    opacity: .3;
		}
		
		.lr {
		    z-index: 1051;
		    width: 1px;
		    height: 75px;
		    margin-left: 35px;
		    background-color: #222;
		    -webkit-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		    transform: rotate(45deg);
		    
		    .rl {
			    z-index: 1052;
			    width: 1px;
			    height: 75px;
			    background-color: #222;
			    -webkit-transform: rotate(90deg);
			    -ms-transform: rotate(90deg);
			    transform: rotate(90deg);
			}
		}
	}
	
	.modal-backdrop {
	    display: none;
	    opacity: 0;
	}
}

#shop {
	.modal-body {
		.col-md-6 {
			margin-bottom:20px;
		}
	}
}


.call-to-action h2 {
    margin: 0 auto 20px;
}

.text-primary {
    color: #f05f40;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #eee;
    color: #222;
    background-color: #eee;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ccc;
    color: #222;
    background-color: #ccc;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn-primary {
    border-color: #222;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #000;
    color: #fff;
    background-color: #000;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #175daf;
    background-color: #175daf;
}

.btn-primary .badge {
    color: #222;
    background-color: #fff;
}

.btn {
    border: 0;
    border-radius: 300px;
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
}

.btn-xl {
    padding: 15px 30px;
}


.fadeLoop {
  animation: fade 2s forwards;
  -webkit-animation: fade 2s forwards;
  -moz-animation: fade 2s forwards;
  -o-animation: fade 2s forwards;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

input {
	text-align: center;
}

.form-control {
	@media(min-width:768px) {
		width: 60%;
		margin: 0 auto;	
	}
}

.shop-img {
	position: relative;
	line-height: 0;
	display: block;
}

.fancybox {
	
	.zoom {
		position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    display: block;
	    background-color: rgba(0, 0, 0, 0.5);
	    opacity: 0;
	    z-index: 999;
	    -webkit-transition: opacity 500ms;
	    -moz-transition: opacity 500ms;
	    -o-transition: opacity 500ms;
	    transition: opacity 500ms;
	    
	    span {
		    background-image: url('../fancybox/zoom.png');
		    background-size: 100% auto;
		    width: 30px;
		    height: 30px;
		    display: block;
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
	    }
	}
	
	&:hover {
		.zoom {
			opacity: 1;
			cursor: pointer;
		}
	}
}

body {
    webkit-tap-highlight-color: #222;
}